html {
  font-size: 62.5%;
}

:root {
  --font-famyli: "IBM Plex Sans";
}

#light {
  width: 1031px;
  display: block;
  position: absolute;
  left: -477px;
  top: -342px;
}

.logo {
  margin-top: 39.99px;
  margin-left: 24.15px;
  width: 146.093px;
  height: 32px;
}

#title {
  margin-top: 64.01px;
  margin-left: 24px;
  color: #191826;
  font-family: var(--font-famyli);
  font-size: 4.0rem;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 120% */
  letter-spacing: -0.455px;
}

#first-text {
  margin-left: 24px;
  margin-top: 20px;
  width: 327px;

  color: #191826;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 162.5% */
}

#smartphone {
  position: relative;
  display: block;
  width: 208.972px;
  height: 430px;
  align-content: center;
  top: -96px;
  z-index: 1;
}

#bg-pattern-2 {
  width: 280px;
  height: 420px;
  position: relative;
  top: -429px
}

#title-2 {
  color: #FCFAF9;
  font-family: IBM Plex Sans;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  /* 125% */
}


#second-text {
  color: #FCFAF9;
  font-family: IBM Plex Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
}

#smartphone-patern {
  margin-top: 166px;
  border-radius: 12px;
  background: #191826;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
}